* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    font-family: "Quicksand";
    display: flex;
    flex-direction: column;

}

nav {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    position: fixed;
    /* border-bottom: 1px solid black; */
}
.logo p{
    font-family: koho;
    font-weight: 700;
    font-size: 22px;
}

li a:hover {
    opacity: 50%;
}

.home_page a {
    color: #133E87;
    text-decoration: underline;
}

.logo, .right_nav, .link_page {
    display: flex;
    align-items: center;   
}
.logo, .right_nav{
    gap: 15px;
}

.logo p {
    font-family: "Koho";
    font-size: 25px;
}
.logo img {
    width: 40px;
    height: auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

li a {
    text-decoration: none;
    color: #606060;
    font-family: "Quicksand";
    font-size: 15px;
    font-weight: 600;
}

.right_nav img {
    width: 20px;
    transform: rotate(180);
}

button {
    width: 90px;
    height: 36px;
    border-radius: 10px;
    font-family: "Quicksand";
    font-size: 14px;
    font-weight: 600;
}

#sign_up {
    background-color: white;
    border: 2px solid #133E87;
    color: #133E87;
}

#login {
    background-color: #133E87;
    border: 2px solid #133E87;
    color: white;
}

/*homepage's body*/
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5em;
    margin-top: 7em;
    margin-bottom: 0;

}

.left_side {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 30px;
}

.left_side h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.4;
    color: #133E87;
}

.left_side p {
    width: 450px;
    color:  #A0A0A0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    text-align: justify;

}

.description {
    margin-top: 1em;
    margin-bottom: 2em;
}

h1 span {
    color: #9B1B30;
    font-weight: 700;
}



.right_side img {
    width: 540px;
    height: auto;
    margin-right: 40px;
}

#learn_more {
    width: 110px;
    height: 40px;
    border: 2px solid #133E87;
    background-color: #133E87;
    color: white;
    font-weight: 600;
}



/* our offers  */
.our_offer, .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    gap: 15px;
}

.title p {
    width: 600px;
    font-size: 12px;
    text-align: center;
    line-height: 1.7;
    color: #A0A0A0;
    font-weight: 600;
}
.our_offer {
    margin-top: 5em;
    gap: 80px;
}

.offers {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
}

.uni_info .container, .scholarship .container, .major .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}
.offers div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.uni_info img {
    width: 90px;
    height: auto;
}

.scholarship img {
    width: 75px;
    height: auto;
}

.major img {
    width: 70px;
    height: auto;
}

.title h2 {
    font-size: 38px;
    color: #133E87;
}

.uni_info h3, .scholarship h3, .major h3 {
    font-family: "Koho";
    font-size: 18px;
    color: #404040;
}
.uni_info, .scholarship, .major {
    gap: 10px;
}

.uni_info p, .scholarship p, .major p {
    width: 200px;
    font-size: 12px;
    font-weight: 600;
    color: #A0A0A0;
    line-height: 1.5;
}


/* footer */
.footer_container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 350px;
    background-color: rgba(192, 192, 192, 0.2);
    margin-top: 7.5em;
}

.left_footer .logo, .find_us h3 {
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
}
.left_footer, .right_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2em;
    margin-top: 2em;
}
.detail {
    height: 145px;
    height: 455px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 3em;
}

.description_footer {
    font-size: 12px;
    color: #A0A0A0;
    font-weight: 600;
    width: 515px;
    height: 90px;
    line-height: 1.5;
    text-align: justify;
}

.SM {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}
#fb, #telegram {
    width: 32px;
    height: auto;
}

#ig {
    width: 36px;
    height: auto;
}


.gmail, .location, .call {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.right_footer h3 {
    font-size: 22px;
    font-weight: 600;
    color: #133E87;
}
.location img {
    width: 20px;
    height: auto;
}

.gmail img {
    width: 18px;
    height: auto;
}

.call img {
    width: 17px;
    height: auto;
}

.call {
    margin-bottom: 1em;
}
.gmail p, .location p, .call p {
    font-size: 12px;
    width: 420px;
    font-weight: 600;
    color: #A0A0A0;
    line-height: 2;
}

